Repository vaadin/hilla, pull requests merged in 2023-02, with the labels that each got.

#709 Avoid running Maven each time source files change
  packages/java/engine-runtime/pom.xml
  packages/java/engine-runtime/src/main/java/dev/hilla/internal/TaskGenerateHillaImpl.java
  packages/java/engine-runtime/src/test/java/dev/hilla/internal/TaskGenerateHillaImplTest.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/EndpointCodeGeneratorMojo.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/GeneratorConfiguration.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/GeneratorException.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/GeneratorProcessor.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/GeneratorShellRunner.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/GeneratorUnavailableException.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/ParserClassPathConfiguration.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/ParserConfiguration.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/ParserException.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/ParserProcessor.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/PluginConfiguration.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/PluginException.java
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/PluginRunner.java
Labels: hilla

#739 fix: make `Optional`s always nullable
  packages/java/parser-jvm-plugin-nonnull/src/main/java/dev/hilla/parser/plugins/nonnull/NonnullPlugin.java
  packages/java/parser-jvm-plugin-nonnull/src/test/java/dev/hilla/parser/plugins/nonnull/basic/BasicEndpoint.java
  packages/java/parser-jvm-plugin-nonnull/src/test/java/dev/hilla/parser/plugins/nonnull/nonnullapi/NonNullApiEndpoint.java
  packages/java/parser-jvm-plugin-nonnull/src/test/resources/dev/hilla/parser/plugins/nonnull/basic/openapi.json
  packages/java/parser-jvm-plugin-nonnull/src/test/resources/dev/hilla/parser/plugins/nonnull/nonnullapi/openapi.json
Labels: target/1.2, target/1.3

#736 feat!(parser-jvm): add support for ObjectMapper shared custom factory
  packages/java/endpoint/pom.xml
  packages/java/endpoint/src/main/java/dev/hilla/EndpointController.java
  packages/java/endpoint/src/main/java/dev/hilla/EndpointControllerConfiguration.java
  packages/java/endpoint/src/main/java/dev/hilla/EndpointInvoker.java
  packages/java/endpoint/src/main/java/dev/hilla/EngineObjectMapperConfiguration.java
  packages/java/endpoint/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  packages/java/endpoint/src/test/java/dev/hilla/EndpointControllerMockBuilder.java
  packages/java/endpoint/src/test/java/dev/hilla/EndpointControllerTest.java
  packages/java/endpoint/src/test/java/dev/hilla/generator/endpoints/AbstractEndpointGenerationTest.java
  packages/java/endpoint/src/test/java/dev/hilla/rest/EndpointWithRestControllerTest.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/core/AbstractCompositePlugin.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/BackbonePlugin.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/BackbonePluginConfiguration.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/EndpointExposedPlugin.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/EndpointPlugin.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/EntityPlugin.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/MethodParameterPlugin.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/MethodPlugin.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/PropertyPlugin.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/TypeSignaturePlugin.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/config/CustomConfigEndpoint.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/config/CustomConfigTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/config/CustomFactory.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/config/Endpoint.java
  packages/java/parser-jvm-plugin-backbone/src/test/resources/dev/hilla/parser/plugins/backbone/config/openapi.json
  packages/java/parser-jvm-utils/pom.xml
  packages/java/parser-jvm-utils/src/main/java/dev/hilla/parser/jackson/ByteArrayModule.java
  packages/java/parser-jvm-utils/src/main/java/dev/hilla/parser/jackson/JacksonObjectMapperFactory.java
  packages/java/parser-jvm-utils/src/main/java/module-info.java
Labels: hilla

#740 refactor!(parser-jvm): get rid of ...Stream() methods
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/models/AnnotatedModel.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/models/AnnotationInfoModel.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/models/ClassInfoModel.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/models/ClassRefSignatureModel.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/models/MethodInfoModel.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/models/ParameterizedModel.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/models/TypeArgumentModel.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/models/TypeArgumentSourceModel.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/models/TypeParameterModel.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/models/jackson/JacksonPropertyTypeModel.java
  packages/java/parser-jvm-core/src/test/java/dev/hilla/parser/core/basic/AddPlugin.java
  packages/java/parser-jvm-core/src/test/java/dev/hilla/parser/core/dependency/DependencyPlugin.java
  packages/java/parser-jvm-core/src/test/java/dev/hilla/parser/models/ClassInfoModelTests.java
  packages/java/parser-jvm-core/src/test/java/dev/hilla/parser/models/ClassRefSignatureModelTests.java
  packages/java/parser-jvm-core/src/test/java/dev/hilla/parser/models/PackageInfoModelTests.java
  packages/java/parser-jvm-core/src/test/java/dev/hilla/parser/models/TypeArgumentModelTests.java
  packages/java/parser-jvm-core/src/test/java/dev/hilla/parser/models/TypeParameterModelTests.java
  packages/java/parser-jvm-core/src/test/java/dev/hilla/parser/models/TypeVariableModelTests.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/EndpointExposedPlugin.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/EndpointPlugin.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/EntityPlugin.java
  packages/java/parser-jvm-plugin-backbone/src/main/java/dev/hilla/parser/plugins/backbone/MethodPlugin.java
  packages/java/parser-jvm-plugin-model/src/main/java/dev/hilla/parser/plugins/model/ModelPlugin.java
  packages/java/parser-jvm-plugin-nonnull/src/main/java/dev/hilla/parser/plugins/nonnull/NonnullPlugin.java
Labels: hilla

#751 chore: enable the restrictions to everyone
  scripts/bump/protection-remap.js
Labels: target/1.2, target/1.3

#748 refactor!(parser-jvm): simplify parser configuration
  packages/java/maven-plugin/src/main/java/dev/hilla/maven/runner/ParserProcessor.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/core/AbstractParserConfig.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/core/OpenAPIFileType.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/core/Parser.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/core/ParserConfig.java
  packages/java/parser-jvm-core/src/main/java/dev/hilla/parser/core/SharedStorage.java
  packages/java/parser-jvm-core/src/test/java/dev/hilla/parser/core/ParserConfigTests.java
  packages/java/parser-jvm-core/src/test/java/dev/hilla/parser/core/basic/BasicTests.java
  packages/java/parser-jvm-core/src/test/java/dev/hilla/parser/core/dependency/DependencyTests.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/bare/BareTypeTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/complexhierarchy/ComplexHierarchyTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/complextype/ComplexTypeTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/config/CustomConfigTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/datetime/DateTimeTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/enumtype/EnumTypeTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/exposed/ExposedTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/generics/GenericsTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/iterable/IterableTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/jackson/JacksonTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/multiendpoints/MultiEndpointsTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/shadowedname/ShadowedNameTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/simpletype/SimpleTypeTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/superclassmethods/SuperClassMethodsTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/test/helpers/TestHelper.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/transients/TransientTest.java
  packages/java/parser-jvm-plugin-backbone/src/test/java/dev/hilla/parser/plugins/backbone/wildcard/WildcardTypeTest.java
  packages/java/parser-jvm-plugin-model/src/test/java/dev/hilla/parser/model/test/helpers/TestHelper.java
  packages/java/parser-jvm-plugin-model/src/test/java/dev/hilla/parser/plugins/model/validation/ValidationTest.java
  packages/java/parser-jvm-plugin-nonnull/src/test/java/dev/hilla/parser/plugins/nonnull/basic/BasicTest.java
  packages/java/parser-jvm-plugin-nonnull/src/test/java/dev/hilla/parser/plugins/nonnull/extended/ExtendedTest.java
  packages/java/parser-jvm-plugin-nonnull/src/test/java/dev/hilla/parser/plugins/nonnull/nonnullapi/NonNullApiTest.java
  packages/java/parser-jvm-plugin-nonnull/src/test/java/dev/hilla/parser/plugins/nonnull/superclassmethods/SuperClassMethodsTest.java
  packages/java/parser-jvm-plugin-nonnull/src/test/java/dev/hilla/parser/plugins/nonnull/test/helpers/TestHelper.java
  packages/java/parser-jvm-plugin-transfertypes/src/test/java/dev/hilla/parser/plugins/transfertypes/pageable/bare/BarePageableTest.java
  packages/java/parser-jvm-plugin-transfertypes/src/test/java/dev/hilla/parser/plugins/transfertypes/pageable/basic/PageableTest.java
  packages/java/parser-jvm-plugin-transfertypes/src/test/java/dev/hilla/parser/plugins/transfertypes/push/PushTypeTest.java
  packages/java/parser-jvm-plugin-transfertypes/src/test/java/dev/hilla/parser/plugins/transfertypes/test/helpers/TestHelper.java
  packages/java/parser-jvm-plugin-transfertypes/src/test/java/dev/hilla/parser/plugins/transfertypes/uuid/UUIDTest.java
Labels: hilla

#766 feat: enable reactive endpoints (push support)
  packages/java/endpoint/src/main/java/dev/hilla/push/PushConfigurer.java
  packages/java/endpoint/src/main/java/dev/hilla/push/PushMessageHandler.java
  packages/java/endpoint/src/test/java/dev/hilla/push/PushMessageHandlerTest.java
  packages/java/tests/spring/endpoints/src/main/resources/vaadin-featureflags.properties
  packages/ts/hilla-frontend/src/FluxConnection.ts
  packages/ts/hilla-frontend/test/Connect.test.ts
  packages/ts/hilla-frontend/test/FluxConnection.test.ts
Labels: hilla, target/2.0

#776 fix: align to Flow changes
  packages/java/endpoint/src/main/java/dev/hilla/EndpointController.java
  packages/java/endpoint/src/main/java/dev/hilla/EndpointControllerConfiguration.java
  packages/java/endpoint/src/test/java/dev/hilla/EndpointControllerTest.java
  packages/java/endpoint/src/test/java/dev/hilla/packages/application/ApplicationComponent.java
  packages/java/endpoint/src/test/java/dev/hilla/packages/application/ApplicationEndpoint.java
  packages/java/endpoint/src/test/resources/dev/hilla/packages/openapi-noendpoints.json
  packages/java/engine-runtime/src/main/java/dev/hilla/internal/EndpointGeneratorTaskFactoryImpl.java
  packages/java/engine-runtime/src/main/resources/META-INF/services/com.vaadin.flow.server.frontend.EndpointGeneratorTaskFactory
  packages/java/engine-runtime/src/test/java/dev/hilla/internal/NodeTasksEndpointTest.java
  packages/java/maven-plugin/src/test/java/dev/hilla/maven/EngineGenerateMojoTest.java
  packages/java/tests/pom.xml
  packages/java/tests/spring/pom.xml
Labels: hilla, target/2.0

#756 fix: Automatically register endpoint types when building for native
  packages/java/endpoint/src/main/java/dev/hilla/springnative/HillaHintsRegistrar.java
  packages/java/endpoint/src/test/java/dev/hilla/generator/endpoints/model/ModelEndpointTest.java
Labels: target/2.0

#781 fix: support dev.hilla.mappedtypes
  packages/java/endpoint/pom.xml
  packages/java/endpoint/src/main/java/dev/hilla/EndpointInvoker.java
  packages/java/endpoint/src/main/java/dev/hilla/endpointransfermapper/EndpointTransferMapper.java
  packages/java/endpoint/src/main/java/dev/hilla/endpointransfermapper/PageMapper.java
  packages/java/parser-jvm-plugin-transfertypes/src/main/java/dev/hilla/parser/plugins/transfertypes/TransferTypesPlugin.java
  packages/java/parser-jvm-plugin-transfertypes/src/test/resources/dev/hilla/parser/plugins/transfertypes/pageable/bare/openapi.json
  packages/java/parser-jvm-plugin-transfertypes/src/test/resources/dev/hilla/parser/plugins/transfertypes/pageable/basic/openapi.json
  packages/java/runtime-plugin-transfertypes/src/main/java/dev/hilla/mappedtypes/Order.java
  packages/java/runtime-plugin-transfertypes/src/main/java/dev/hilla/mappedtypes/Pageable.java
  packages/java/runtime-plugin-transfertypes/src/main/java/dev/hilla/mappedtypes/Sort.java
  packages/java/runtime-plugin-transfertypes/src/main/java/dev/hilla/runtime/transfertypes/Order.java
  packages/java/runtime-plugin-transfertypes/src/main/java/dev/hilla/runtime/transfertypes/Pageable.java
  packages/java/runtime-plugin-transfertypes/src/main/java/dev/hilla/runtime/transfertypes/Sort.java
  packages/java/runtime-plugin-transfertypes/src/main/java/module-info.java
  packages/java/tests/spring/endpoints/frontend/src/test-component.js
  packages/java/tests/spring/endpoints/src/main/java/com/vaadin/flow/connect/PagedEndpoint.java
  packages/java/tests/spring/endpoints/src/test/java/com/vaadin/flow/connect/AppViewIT.java
Labels: hilla, target/2.0

#792 fix: use Maven Wrapper if available
  packages/java/engine-runtime/src/main/java/dev/hilla/internal/AbstractTaskEndpointGenerator.java
  packages/java/engine-runtime/src/main/java/dev/hilla/internal/runner/CommandRunner.java
  packages/java/engine-runtime/src/main/java/dev/hilla/internal/runner/GradleRunner.java
  packages/java/engine-runtime/src/main/java/dev/hilla/internal/runner/MavenRunner.java
  packages/java/engine-runtime/src/main/java/dev/hilla/internal/runner/RunnerException.java
  packages/java/engine-runtime/src/test/java/dev/hilla/internal/AbstractTaskEndpointGeneratorTest.java
  packages/java/engine-runtime/src/test/java/dev/hilla/internal/runner/MavenRunnerTest.java
Labels: target/2.0
