Repository vaadin/hilla, pull requests merged in 2024-02, with the labels that each got.

#2020 chore: Upgrade to TestBench 9.2.2
  pom.xml
Labels: target/2.5

#2036 test: Bump Jetty to 11.0.20 so it works with Java 21
  packages/java/tests/pom.xml
Labels: target/2.5

#2044 chore(file-router): ignore build folders
  packages/ts/hilla-file-router/.gitignore
Labels: hilla

#2054 chore(file-router): add build folders to the package files
  packages/ts/hilla-file-router/package.json
Labels: hilla

#2097 chore: fix Gradle article path in README.md
  packages/java/gradle-plugin/README.md
Labels: target/main, target/2.5

#2116 fix(file-router): avoid unnecessary reboot if "views.json" and "views.ts" haven't changed
  packages/ts/hilla-file-router/package.json
  packages/ts/hilla-file-router/src/vite-plugin.ts
  packages/ts/hilla-file-router/src/vite-plugin/createRoutesFromMeta.ts
  packages/ts/hilla-file-router/src/vite-plugin/generateRuntimeFiles.ts
  packages/ts/hilla-file-router/test/vite-plugin/createRoutesFromMeta.spec.ts
  packages/ts/hilla-file-router/test/vite-plugin/generateRuntimeFiles.spec.ts
Labels: hilla
